html { 
    overflow-y: scroll; 
}

body { 
    position: absolute; 
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    max-width: 100vh;
    background-image: url(./backg.jpg);
    background-size: cover;
}

.block2 {
    font-family: sans-serif;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    text-align: center;
    width: 100vw;
}

header {
    display: flex;
    height: 5em;
    width: 100vw;
    background-color: rgba(255, 244, 255, 0.2);
    padding: 1em 8em;
    font-size: small;
    justify-content: space-between;
}

.nav-img {
    width: 3em;
}

p {
    grid-column: 2;
    grid-row: 2;
    font-size: x-large;
    line-height: 1.5;
    color: black;
}

.heading {
    grid-row: 1;
    padding: 2em 0;
    font-size: xx-large;
}

.food {
    width: 100vw;
    padding: 0 5%;
}

form{
    grid-column: 1;
    grid-row: 2;
}

.loading {
    height: 15em;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#foodPic {
    grid-column: 1;
    grid-row: 1;
    height: 18em;
    background-image: url(./burgers.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 2em 0;
} 

.upload {
    grid-column: 1;
    grid-row: 2;
}

input {
    width: 13em;
}

.btn {
    padding: 2.4em;
    /* margin: 8em 0 0; */
    background-color: #157D17;
    border: #157D17;
    color: #157D17;
    width: 27em;
    overflow: hidden;
}

.head {
    color: black;
    text-transform: capitalize;
    padding: 0;
}

input[type="file"] {
    display: none;
    padding: 2.4em;
    margin: 8em 0 0;
    width: 80%;
}

.custom-file-upload {
    border: none;
    padding: 2.4em;
    margin: 8em 0 0;
    background-color: #157D17;
    border: #157D17;
    color: #E0E0DD;
    width: 80%;
    overflow: hidden;
    cursor: pointer;
    font-size: 1.4em;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url(./back2.png);
    }
    header {
        padding: 1em 2em;
    }
    .block2 {
        display: inline-block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 3em 0 0;
    }
    p {
        font-size: large;
        padding: 0 0 4em;
    }
    .main-layout {
        display: inline-block;
    }
    .heading {
        font-size: x-large;
        margin-top: -2.5em;
    }
    h3 {
        font-size: large;
    }
    #foodPic {
        margin-bottom: 1em;
        height: 12em;
    }
    .btn {
        padding: 2.4em 0;
        width: 20em;
    }
    #foodInfo {
        margin: 2em 0 4em;
    }
    .loading {
        height: 10em;
    }
    form {
        width: auto;
    }
}

