html { 
    overflow-y: scroll; 
}

body { 
    position: absolute; 
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    background-image: url(./backg.jpg);
    background-size: cover;
}

header {
    display: flex;
    height: 5em;
    width: 100vw;
    background-color: rgba(255, 244, 255, 0.2);
    padding: 1em 8em;
    font-size: small;
    justify-content: space-between;
}

.nav-img {
    width: 3em;
}

.heading {
    font-size: xx-large;
    padding: 2em 0;
    line-height: 1.5;
    color: black;
    text-align: center;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 0 5%;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #157D17; 
  }
  
  .panel {
    padding: 2em;
    display: none;
    background-color: white;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
    text-align: left;
    font-size: small;
  }

@media screen and (max-width: 768px) {
    body {
        background-image: url(./back2.png);
    }
    header {
        padding: 1em 2em;
    }
    .block2 {
        display: inline-block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 3em 0 0;
    }
    p {
        font-size: large;
        padding: 0 0 4em;
    }
    .main-layout {
        display: inline-block;
    }
    .heading {
        font-size: x-large;
        /* margin-top: -1.5em; */
    }
    h3 {
        font-size: large;
    }
    #foodPic {
        margin-bottom: 4em;
        height: 12em;
    }
    .btn {
        padding: 2.4em 0;
        width: 20em;
    }
    #foodInfo {
        margin: 2em 0 4em;
    }
    .loading {
        height: 10em;
    }
    form {
        width: auto;
    }
    .landing-wrapper {
        margin-bottom: 2em;
        padding-bottom: 2em;
    }
}