html { 
    overflow-y: scroll; 
}

body { 
    position: absolute; 
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    max-width: 100vh;
    background-image: url(./backg.jpg);
    background-size: cover;
}

.block {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    text-align: center;
    width: 100vw;
}

.logo {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    padding: 8em 0 4em; 
}

p {
    grid-column: 2;
    grid-row: 2;
    font-size: x-large;
    line-height: 1.5;
    color: black;
}

form{
    grid-column: 2;
    grid-row: 3;
}

.button1 {
    padding: 2em 0.7em;
    background-color: #E0E0DD;
    border: #B7A9A6;
    width: 80%;
    font-size: large;
    color: #157D17;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url(./back2.png);
    }
    .block {
        /* min-height: 90vh; */
        display: inline-block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 3em 0 0;
    }
    .logo {
        width: 90%;
        background-color: rgba(255, 244, 255, 0.3);
        padding: 4em 0 4em; 
    }
    p {
        font-size: large;
        padding: 0 0 4em;
    }
}

